/* Custom styles for the WPaudio plugin */

#audio-player {
	display: inline;
}

#audio-player a {
	color: #b3b3b1 !important;
	font-size: 13px !important;
	font-weight: 100 !important;
	letter-spacing: 1px !important;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !important;
}

#audio-player img {
	display: none !important;
}

.icon-audio::before {
	content: '\f109';
	display: inline-block;
	padding: 0;
	margin-top: -2px;
	font-style: normal;
	font-family: 'Genericons';
	font-size: 20px;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 500px) {
	#audio-player a {
		letter-spacing: 0 !important;
	}
}